.task{
    position: relative;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.task-txt{
    padding: 10px 200px 10px 0;
}
.task-txt span{
    display: block;
    font-style: italic;
    color: #ccc;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 5px;
}
